@use "../base/variables" as variables;

.accordeon {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid variables.$black;
    border-radius: 10px;

    &.active {
        .accordeon_title {
            color: variables.$white;
        }

        .accordeon_text {
            height: 0;
            overflow: hidden;
            transition: height 0.35s ease;
        }

        span::after {
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }

    &_text {
        height: 0;
        min-height: 0;
        overflow: hidden;
        margin-top: 0;
        transition : height 0.3s ease-in-out, min-height 0.3s ease-in-out;
        padding: 0 20px;
    }

    &s {
        &_repeater {
            width: 100%;
        }
    }

    &_button {
        background-color: transparent;
        border: none;
        text-align: left;
        padding: 15px 20px;
        font-weight: 700;
        border-radius: 10px;
        width: 100%;
        gap: 20px;
        transition: background-color 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            height: 30px;
            width: 30px;
            display: block;
            position: relative;

            &::after,
            &::before {
                content: '';
                display: block;
                height: 3px;
                position: absolute;
                background-color: variables.$orange;
                width: 20px;
                border-radius: 50rem;
                left: 5px;
                top: 15px;
            }

            &::after {
                opacity: 1;
                transition: opacity 0.3s ease;
                transform: rotate(90deg);
            }
        }
    }
}