@use "../base/variables" as variables;
@use "../base/mixins" as *;
@use "../base/keyframes" as *;

.cta {
    text-decoration: none;
    display: inline-block;
    padding: 15px 40px;
    text-transform: uppercase;
    border-radius: 50rem;
    color: variables.$white;
    transition: background-color .3s ease;
    @include font_title;

    &:hover {
        cursor: pointer;
        transition: background-color .3s ease;
    }

    &_primary {
        background-color: variables.$dark;

        &:hover {
            background-color: variables.$orange;

            .cta_arrow path {
                stroke: variables.$white;
            }
        }

        .cta_arrow path {
            stroke: variables.$yellow;
        }
    }

    &_secondary {
        background-color: variables.$orange;
        
        &:hover {
            background-color:variables.$dark;

            .cta_arrow path {
                stroke: variables.$yellow;
            }
        }

        .cta_arrow path {
            stroke: variables.$white;
        }
    }

    &_arrow  {
        margin-left: 5px;
        transform: rotate(180deg);

        path {
            transition: stroke .3s ease;
        }
    }
}