@use "../base/variables" as variables;
@use "../base/mixins" as *;

// Polylang
.pll-switcher-select {
    background: transparent;
    width: 57px;
    border-radius: 50rem;
    height: 57px;
    display: flex;
    padding: 20px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;

    &:hover {
        background-color: variables.$orange;
        color: variables.$white;
        border-color: variables.$orange;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }

    @include tablet {
        height: 40px;
        width: 40px;
        padding: 10px;
        border: 1px solid variables.$dark;
    }

    option {
        text-align: center;
    }
}