@use "../base/variables" as variables;
@use "../base/mixins" as *;

.burger {
    &_button {
        border-radius: 50rem;
        aspect-ratio: 1/1;
        padding: 10px;
        background-color: variables.$yellow;
        border: 1px solid variables.$yellow;
        color: variables.$white;

        &:hover {
            border: 1px solid variables.$dark;
            background-color: transparent;
            color: variables.$dark;
            transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
        }
    }

    &_all_content {
        @include tablet {
            display: none;
        }
    }
}

.menu {
    &_wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &_nav {
        @include tablet {
            display: flex;
            gap: 20px;
            align-items: center;
        }
    }
    &_desktop {
        display: none;
        list-style: none;
        gap: 30px;
        padding-left: 0;

        @include tablet {
            display: flex;
        }

        li {
            display: inline-block;

            &:not(.cta) a {
                text-decoration: none;
                color: variables.$grey;
                font-weight: 600;
                transition: 0.2s;

                &:hover {
                    color: variables.$yellow;
                }
            }

            &.current-menu-item:not(.cta) a {
                color: variables.$darkblue;
            }

            &.cta a {
                color: variables.$white;
                text-decoration: none;
            }
        }

        @include tablet {
            display: flex;
            align-items: center;
        }
    }

    &_burger {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$blue;
        transform: translateX(100%);
        transition: transform 0.3s ease;

        @include tablet {
            display: none;
        }

        &_open {
            transform: translateX(0);
        }

        &_wrapper_nav {
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            a {
                color: variables.$white;
                font-size: 1rem;
                margin-bottom: 20px;

                &:hover {
                    color: variables.$yellow;
                }
            }
        }

        &_nav {
            padding-left: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 15px;

            a {
                text-decoration: none;
                @include font_title;
                font-size: 2rem;
                text-transform: uppercase;
            }

            li {
                &:not(.cta) a {
                    text-decoration: none;
                    color: variables.$white;
                    font-weight: 600;
                    transition: 0.2s;

                    &:hover {
                        color: variables.$yellow;
                    }
                }

                &.current-menu-item:not(.cta) a {
                    color: variables.$yellow;
                }

                &.cta {
                    width: fit-content;
                    margin-top: 30px;
                }
            }
        }

        &_button_close {
            position: absolute;
            top: 20px;
            right: 20px;
            aspect-ratio: 1/1;
            color: variables.$white;
            padding: 10px;
            background: transparent;
            border-radius: 50rem;
            border: 1px solid variables.$white;
            cursor: pointer;
        }
    }
}