@use "../base/variables" as variables;

.swiper {
    &-pagination {
        &-bullet {
            &-active {
                background-color: variables.$orange!important;
            }
        }
    }
    &-button {
        &-prev,
        &-next {
            background: variables.$orange;
            border-radius: 50rem;
            transition: background-color 0.2s ease;

            &:hover {
                background: variables.$black;
                transition: background-color 0.2s ease;
            }

            svg {
                fill : transparent!important;
                width: 13px!important;
            }
        }
    }
}