@use "variables" as variables;
@use "mixins" as *;

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    line-height: 1.1em;
    @include font_title;
}

h1,
.h1 {
    font-size: clamp(1rem, 8.5vw, 4.5rem);
    line-height: 1.3;
}

h2,
.h2 {
    font-size: clamp(2.5rem, 6vw, 64px);
    font-weight: 400;
    margin-bottom: 15px;
}

h3,
.h3 {
    font-size: clamp(2rem, 6vw, 1rem);
    font-weight: 400;
    margin-bottom: 15px;
}

h4,
.h4 {
    font-size: 1.2rem;
}

.subtitle {
    color: variables.$grey;
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.text_color {
    &_orange {
        color: variables.$orange;
    }
    &_yellow {
        color: variables.$yellow;
    }
    &_blue {
        color: variables.$blue;
    }
    &_darkblue {
        color: variables.$darkblue;
    }
    &_grey {
        color: variables.$dark;
    }
}