$yellow: #f3b823;
$blue : #5b88d8;
$darkblue : #53668d;
$lightblue: #F1F5FB;
$orange : #ec663f;
$white: #fff;
$dark: #4D4D4D;
$grey: #6e6e6e;

$font_text: 'roboto', sans-serif;

$text_small : .7rem;
$text_normal : 1rem;

$border_radius_element : 20px;
$border_radius_small_element : 5px;