@use "../base/variables" as variables;
@use "../base/mixins" as *;

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 102;

    &.scrolled-js {
        background-color: variables.$white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;

        .header_logo_link {
            max-width: 120px;
        }
    }

    &_logo_link {
        max-width: 220px;
        max-height: 130px;
        transition: max-width 0.3s ease;
    }

    &_container {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}