@use "../../../../src/scss/base/variables" as variables;
@use "../../../../src/scss/base/mixins" as *;

.banner {
    position: relative;
    padding: 0 20px;

    @include tablet {
        padding: 0 40px;
    }

    &.p-top {
        margin-top: 80px;

        @include tablet {
            margin-top: 100px;
        }
    }

    form.search-form {
        margin-top: 30px;
        
        input {
            color: variables.$white!important;
        }
    }

    .swiper {
        &-pagination {
            display: none;
            
            &-bullet {
                background-color: variables.$white!important;
                opacity: 1!important;
                
                &-active {
                    background-color: variables.$red!important;
                }
            }
        }
        /*&-button {
            &-prev {
                left: -22px;
            }

            &-next {
                right: -22px;
            }
        }*/
    }
    
    &_wrapper {
        &_media {
            position: relative;
        }

        &_content {
            max-width: 920px;
        }
    }

    .swiper {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 40px;

       &-wrapper {
            position: relative;

            &::before {
                content: "";
                background: rgba(0, 0, 0, 0.2);
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 40px;
                z-index: 2;
                border-radius: 48px;
            }
        }

        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
            top: 40px;
        }
    }

    .container {
        z-index: 3;
        position: relative;
        padding: 40px;

        @include tablet {
            padding: 100px 80px;
            display: flex;
            margin: auto 80px;
            flex-direction: column;
            justify-content: flex-end;
            max-width: 2000px;
            width: calc(100% - 160px);
        }
    }


    &.banner_homepage .container {
        @include tablet {
            min-height: calc(100vh - 140px);
        }
    }

    &_bg {
        border-radius: 50px;

        .banner_wrapper_content {
            max-width: 100%;
        }

        .banner_suptitle,
        .banner_title,
        p {
            color: variables.$dark;
            text-align: center;
            width: 100%;
            display: block;
        }

        .cta {
            display: flex;
            width: fit-content;
            margin: auto;
        }

        &_darkred {
            background: linear-gradient(180deg, #691F35 -103.82%, rgba(207, 61, 104, 0.00) 100%);
        }

        &_darkgreen {
            background: linear-gradient(180deg, #1F5869 -120.28%, rgba(61, 173, 207, 0.00) 100%);
        }
    }

    &_wrapper:not(.banner_bg) {
        .banner_suptitle,
        .banner_title,
        p,
        a,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: variables.$white;
        }
    }

    &_suptitle,
    &_title{
        margin: 0;
    }

    p {
        font-size: 1.2rem;

        @include tablet {
            font-size: 1.6rem;
        }
    }

    .rank-math-breadcrumb {
        p {
            margin-bottom: 0;
        }

        a {
            color: variables.$white;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: variables.$red;
                transition: color 0.3s ease;
            }
        }
    }
}