@use "../../../../src/scss/base/variables" as variables;
@use "../../../../src/scss/base/mixins" as *;

.banner {
    position: relative;
    text-align: center;
    padding-top: 150px;
    
    &::before {
        content: '';
        width: 100vw;
        height: 100vw;
		max-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom-right-radius: 50rem;
        border-bottom-left-radius: 50rem;
        background-color: variables.$lightblue;
		z-index: -1;

		@include desktop {
            top: -10vw;
		}
    }

    .container {
        max-width: 1200px;
    }

    &_suptitle,
    &_title {
        font-weight: 400;
        text-align: center;
        margin-bottom: 20px;
    }
}